.azeret-mono-common {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }
/* shared style */
.text-center{
    text-align: center;
    
}
.text-regular{
    font-size: 16px;
    font-weight: 400px;
    opacity: 0.7;
}



/* Header style */
  
  /* Top Bar style */
  .top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:35px 150px;
}
.top-bar-title{
    font-size: 28px;
    font-weight: bolder;
    color: #0D1321;
}
.download-resume-btn{
    padding: 17px 24px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600px;
    background: transparent;
}

/*Banner style*/
.banner{
    padding: 26px 221px 45px;
}
.banner{
    background-image: url(/assets/Hero-bg.png);
}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-title{
    font-size: 48px;
    font-weight: bolder;
    color: #0D1321;
}

.contact-me-btn{
    padding: 21px 24px;
    background-color: #0D1321;
    color: white;
    border-radius: 8px;
    font-weight: 600px;
    margin-top: 30px;;
}